body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji";
    font-size: 10pt;
    padding: 15px;
}

.mb {
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    resize: none;
    height: 80px;
    border: 1px solid #ced4da;
    border-radius: 3px;
    padding: 3px 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji";
    font-size: 10pt;
}

input[type="range"] {
    width: 100%;
}

.note {
    background-color: #0060df;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
}

.note a,
.note a:hover
.note a:focus
.note a:active {
    color: #fff;
}

.text-right {
    text-align: right;
}

button {
    color: #fff;
    padding: 5px 8px;
    border-radius: 3px;
    transition: all .2s linear;
    min-width: 80px;
    text-align: center;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

button:disabled {
    filter: grayscale(1);
    cursor: not-allowed;
    opacity: 0.8;
}

.btn-success {
    background-color: #157347;
    border: 1px solid #146c43;
}

.btn-primary {
    background-color: #0f2b46;
    border: 1px solid #091e31;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.mt {
    margin-top: 10px;
}
